<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/main.css" />
  </head>

  <body>
    <div class="container">
      <div class="title">Server Configuration</div>

      <div class="item">
	There are a couple customization settings that you can make to
	the MyMedia server software. We've done our best to pick
	default values for these settings that will work for most
	users but you may need to change these settings if you store
	your music in a unusual place or if the server IP address that
	was auto-detected doesn't match the IP address of your server
	on your internal network. (If you don't know what that means
	then you probably don't need to worry about it because the
	default value will probably work.) If you get stuck feel free
	to ask questions
	<a href="http://forums.roku.com/viewtopic.php?f=28&t=25955&start=0">
	  on the MyMedia forum</a>.
      </div>

      <form action="/configure" method="post">
	{% for var in variables %}
	<div class="item">
	  <b>{{ var.text }}:</b>
	  <input name="{{ var.variable }}" value="{{ var.value }}" size="40" />
	  {% if var.description %}
	  <br/><i>({{ var.description }})</i>
	  {% endif %}
	</div>
	{% endfor %}
	<div class="item">
	  <input type="submit" value="Save Configuration" />
	  <a href="/">Cancel</a>
	</div>
      </form>
    </div>
  </body>
</html>
